@import 'reset';

$padding: 1rem;

@mixin normalize-fonts {
  color: hsl(0, 0, 20);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5em;
}

html,
body {
  @include normalize-fonts;
}

h1 {
  @include normalize-fonts;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

strong {
  color: black;
  font-weight: 900;
}

label {
  color: hsl(0, 0, 50);
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-left: 0.5rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

#app {
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;
}

input {
  @include normalize-fonts;
  appearance: none;
  background: #F2F2F2;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.5rem;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

button {
  @include normalize-fonts;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  background: #8080FF;
  // border: 1px solid hsl(0, 0, 80);
  border: 0;
  color: white;
  font-weight: 700;
  height: 60px;
  border-radius: 40px;
  padding: 0 2rem;
  outline: none;
  width: 100%;

  &:active {
    background: #6666FF;
  }

  &:disabled {
    cursor: default;
    background: #BFBFFF;
  }
}

#errors {
  box-sizing: border-box;
  display: none;
  border: 1px solid hsl(340, 75, 75);
  border-radius: 10px;
  padding: 1rem;

  li {
    color: hsl(340, 75, 75);
    font-weight: 800;
    line-height: 2rem;
  }
}

#result {
  color: hls(0, 0, 80);
}